PORT=3000
NORTHFLANK_API_TOKEN=nf-eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiZTJkZTg0MjAtZDM5ZS00NjBmLTk2NmYtNTY2NTNhOWYzOTRkIiwiZW50aXR5SWQiOiI2OTcyMGNhOGRiNzdhNjdiZWQ1NGY5NzciLCJlbnRpdHlUeXBlIjoidGVhbSIsInRva2VuSWQiOiI2OWFjNGUzMGMwMTRmNWU2M2JhNjhjZjAiLCJ0b2tlbkludGVybmFsSWQiOiJtdWx0aXZlcnNlLWFwcCIsInJvbGVJZCI6IjY5YWM0Y2Y0YzAxNGY1ZTYzYmE2OGNkNyIsInJvbGVFbnRpdHlJZCI6IjY5NzIwY2E4ZGI3N2E2N2JlZDU0Zjk3NyIsInJvbGVFbnRpdHlUeXBlIjoidGVhbSIsInJvbGVJbnRlcm5hbElkIjoibXVsdGl2ZXJzZS1hcHAiLCJ0eXBlIjoicmJhYyIsImlhdCI6MTc3Mjg5OTg4OH0.GQUSfvD06HC-l8kqdUgsMcrryZGWcLLsb1QSWp-LqeE
NORTHFLANK_PROJECT_ID=multiverse-preview-engine
NORTHFLANK_REGION=europe-west
BASE_URL=https://your-engine.onrender.com
